@charset "UTF-8";

/* ------------------------- Configurações gerais da página ----------------------------- */
* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    background-image: linear-gradient(to bottom, #ffffff, #EFE6CD);
}

a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.8;
}

.nav_cabeçalho {
    color: #EFE6CD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #7D8758;
    height: 6vh;
}

.nav_principal {
    color: #EFE6CD;
    background-color: #EFE6CD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 9vh;
}

#botao_login {
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    background-color: #9EA58D;
    a {
        color: white;
    }
}

#botao_cadastro {
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    background-color: #C5B67B;
    a {
        color: white;
    }
}

/* ------------------------- Paleta de cores ----------------------------- */

/* Antiga paleta de cores */
.Spring-Gardens-1-hex { color: #211508; }
.Spring-Gardens-2-hex { color: #381E10; }
.Spring-Gardens-3-hex { color: #459451; }
.Spring-Gardens-4-hex { color: #9FDB43; }
.Spring-Gardens-5-hex { color: #C4FF6E; }

/* Nova paleta de cores */
.Vintage-Cremes--Greens-1-hex { color: #9EA58D; }
.Vintage-Cremes--Greens-2-hex { color: #CCC098; }
.Vintage-Cremes--Greens-3-hex { color: #EFE6CD; }
.Vintage-Cremes--Greens-4-hex { color: #7D8758; }
.Vintage-Cremes--Greens-5-hex { color: #C5B67B; }

/* ------------------------- Barra de navegação superior responsiva ----------------------------- */

.nav_list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav_list li {
    letter-spacing: 2px;
    margin-left: 32px;
}

.mobile_menu {
    cursor: pointer;
    display: none;
}

.mobile_menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav_list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 100%;
        border-radius: 10px;
        background: #7D8758;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav_list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile_menu {
        display: block;
    }

    .aside_ranking{
        display: none;
    }

    #banner_abrelpe {
        display: none;
    }

    #cooperativa {
        display: none;
    }

}

.nav_list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.nav_list a {
    color: #fff;
}

/* ------------------------- Rodapé ----------------------------- */

footer {
    bottom: 0px;
}

.nav_rodape h6 {
    color: #EFE6CD;
    text-align: center;
    letter-spacing: 1px;
    margin-left: 32px;
}

.nav_rodape {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #7D8758;
    height: 8vh;
}

/* ------------------------- Página index ----------------------------- */

.conteudo_principal {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #EFE6CD;
    width: 80%;
    padding: 10px;
    margin: auto;
}

.main_banner img {
    padding: auto;
    margin: auto;
    border-radius: 10px;
    width: 100%;
    justify-content: center;
}

#botoes_main_banner {
    display: flex;
}

#botao_1 {
    background-image: linear-gradient(to right,rgb(7, 56, 7), rgb(10, 85, 10));
    border-radius: 10px;
    box-shadow: 3px 3px 10px #517360;
    width: 50%;
    padding: 10px;
    margin: 10px;
    height: fit-content;
    text-align: center;
    h2 {
        font-size: larger;
        color: white;
    }
    #botao_1_1 {
        margin: 10px;
        padding: 8px;
        border-radius: 5px;
        border: none;
        font-size: medium;
        background-color: rgb(59, 185, 0);
        a {
            color: white;
        }
    }
}

#botao_2 {
    background-image: linear-gradient(to right,rgb(18, 151, 18), rgb(22, 182, 22));
    border-radius: 10px;
    box-shadow: 3px 3px 10px #517360;
    width: 50%;
    padding: 10px;
    margin: 10px;
    height: fit-content;
    text-align: center;
    h2 {
        font-size: larger;
        color: white;
    }
    #botao_1_2 {
        margin: 10px;
        padding: 8px;
        border-radius: 5px;
        border: none;
        font-size: medium;
        background-color: rgb(7, 56, 7);
        a {
            color: white;
        }
    }
}

.conteudo_meio {
    display: flex;
    margin: 10px;
}

#ranking_aside {
    margin-bottom: 10px;
}

#banner_aside {
    margin-bottom: 10px;
}

#ranking_aside img {
    border-radius: 10px;
    box-shadow: 3px 3px 10px #517360;
}

#banner_aside img {
    border-radius: 10px;
    box-shadow: 3px 3px 10px #517360;
}

.conteudo_textual {
    padding: 10px;
}

.conteudo_textual h2 {
    margin-top: 0px;
    margin: 10px;
    font-size: 200%;
    color: #381E10;
    text-align: center;
}

.conteudo_textual p {
    text-align: justify;
    margin: 10px;
    text-indent: 3ch;
    font-size: 100%;
    a {
        color: green;
    }
}

#conteudo_1{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    #conteudo_1_1{
        display: block;
        margin: 10px;
    }
}

#conteudo_2{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    #conteudo_2_1{
        display: block;
        margin: 10px;
    }
}

#conteudo_3{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    #conteudo_3_1{
        display: block;
        margin: 10px;
    }
}

/* ------------------------- Página locais de entrega ----------------------------- */

.mapa iframe {
    border-radius: 10px;
}

#mini_banner img {
    border-radius: 10px;
}

#botoes_mapa {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 8px;
}

#botao_localizacao {
    margin: auto;
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: fit-content;
    font-size: medium;
    background-color: #517360;
    color: white;
    box-shadow: 3px 3px 10px #517360;
}

#pesquisa_endereco {
    display: flex;
    margin: auto;
    padding-left: 8px;
    border-radius: 5px;
    border: none;
    width: fit-content;
    font-size: medium;
    background-color: #517360;
    color: white;
    box-shadow: 3px 3px 10px #517360;
    justify-content: space-evenly;
    align-items: center;
    input {
        padding: 10px;
        margin-left: 10px;
        border: none;
        width: 200px;
        margin-right: 0px;
    }
}

#botao_buscar {
    margin-left: 0px;
    padding: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    width: fit-content;
    font-size: medium;
    background-color: rgb(59, 185, 0);
    color: white;
}

/* ------------------------- Tela cadastro ----------------------------- */

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        color: black;
        align-self: center;
    }
} 


  #form_cadastro {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: lightgray;
    border-radius: 16px;
    padding: 1.5rem 40px;
  }

.btn_cadastro {
    width: 100px;
    height: 40px;
    margin-top: 1.5rem;
    font-size: 1rem;
    align-self: center;
}

input{
    padding: .2rem .5rem;
}


/* --- Estilos para Validação de formulários ------ */

/*--------------------Estilos Dinâmicos ------------------------*/

.required-popup::after{
    content: "Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
    
}

input.error{
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
}

input.correct{
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
}


.visible{
    display: block;
    
}

.helper-text{
    /* display: none; */
    font-size: .8rem;
    color:darkred; 
}

label:not(:first-of-type){
    margin-top: 1rem;
}

label{
    margin-bottom: .2rem;
    position: relative;
}

/* ---------------------------------------------------*/

/* ------------------------- Tela login ----------------------------- */

#form_login {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 3px 3px 10px #517360;
    padding: 1.5rem 40px;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
    h1 {
        font-size: 200%;
        margin: 10px;
        color: #381E10;
    }

    label {
        color: #381E10;
    }

    input {
        padding: 10px;
        width: 250px;
    }

    div {
        margin: 10px;
    }
  }


  #main_login {
    background: url(/Sprint_4_javascript/img/conteudo_login/background_login.png);
    background-size: cover;
    height: fit-content;
}

.login{
    display: flex;
    justify-content: left;
}

.btn_login{  
    justify-content: center;
    width: 100px;
    height: 35px;
    margin-top: .5rem;
    font-size: 1rem;
    align-self: center;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: green;
}

#sem_cadastro {
    text-align: center;
    margin: 10px;
    padding: 10px;
}


/* ------------------------- Como descartar? ----------------------------- */

#conteudo_descartar {
    margin: 10px;
    padding: 10px;
    img {
        border-radius: 5px;
        box-shadow: 3px 3px 10px #517360;
        margin-left: 10px;
    }
}

#bloco1_descartar {
    display: flex;
    p {
        text-align: justify;
        margin: 10px;
        text-indent: 3ch;
        font-size: 100%;
    }
    ul {
        margin: 20px;
    }
    li {
        text-align: justify;
        font-size: 100%;
    }
    h2 {
        margin-top: 0px;
        margin: 10px;
        font-size: 140%;
        color: #381E10;
        text-align: center;
    }
}

#bloco2_descartar {
    margin-bottom: 20px;
    h2 {
        margin-top: 0px;
        margin: 10px;
        font-size: 140%;
        color: #381E10;
        text-align: center;
    }

    #paragrafo {
        text-align: justify;
        margin: 10px;
        text-indent: 3ch;
        font-size: 100%;
    }

    p {
        text-align: justify;
        margin: 10px;
        font-size: 100%;
    }

    img {
        padding: auto;
        margin: auto;
        border-radius: 10px;
        width: 100%;
        justify-content: center;
    }
    
    ul {
        margin-left: 20px;
    }
    li {
        text-align: justify;
        font-size: 100%;
    }
}

#bloco3_descartar {
    display: flex;
    p {
        text-align: justify;
        margin: 10px;
        text-indent: 3ch;
        font-size: 100%;
        a {
            color: green;
        }
    }

    h2 {
        margin-top: 0px;
        margin: 10px;
        font-size: 140%;
        color: #381E10;
        text-align: center;
    }

    img {
        margin-top: 20px;
        margin-right: 20px;
    }
}