@charset "UTF-8";

/* ------------------------- Configurações gerais da página ----------------------------- */
* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    background-image: linear-gradient(to bottom, #ffffff, #EFE6CD);
}

a {
    text-decoration: none;
    transition: 0.3s;
}

.nav_cabeçalho {
    color: #EFE6CD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #7D8758;
    height: 6vh;
}

.nav_principal {
    color: #EFE6CD;
    background-color: #EFE6CD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}

#botao_login {
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    background-color: #7D8758;
    a {
        color: white;
    }
}

#botao_login:hover {
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    background-color: #C5B67B;
    transition: 0.5s;
    a {
        color: white;
    }
}

#botao_cadastro {
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    background-color: #7D8758;
    a {
        color: white;
    }
}

#botao_cadastro:hover {
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    background-color: #C5B67B;
    transition: 0.5s;
    a {
        color: white;
    }
}

.conteudo_principal {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #CCC098;
    width: 80%;
    padding: 10px;
    margin: auto;
}

/* ------------------------- Paleta de cores ----------------------------- */

/* Antiga paleta de cores */
.Spring-Gardens-1-hex { color: #211508; }
.Spring-Gardens-2-hex { color: #381E10; }
.Spring-Gardens-3-hex { color: #459451; }
.Spring-Gardens-4-hex { color: #9FDB43; }
.Spring-Gardens-5-hex { color: #C4FF6E; }

/* Nova paleta de cores */
.Vintage-Cremes--Greens-1-hex { color: #9EA58D; }
.Vintage-Cremes--Greens-2-hex { color: #CCC098; }
.Vintage-Cremes--Greens-3-hex { color: #EFE6CD; }
.Vintage-Cremes--Greens-4-hex { color: #7D8758; }
.Vintage-Cremes--Greens-5-hex { color: #C5B67B; }

/* ------------------------- Barra de navegação superior responsiva ----------------------------- */

.nav_list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav_list li {
    letter-spacing: 1px;
    margin-left: 32px;
}

.nav_list li a {
    text-decoration: none;
    transition: 0.3s;
}

.nav_list li a:hover {
    opacity: 0.7;
}

.mobile_menu {
    cursor: pointer;
    display: none;
}

.mobile_menu div {
    width: 32px;
    height: 2px;
    background: #EFE6CD;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav_list {
        position: absolute;
        top: 15vh; 
        right: 0;
        width: 100vw;
        height: 10%;
        background: #7D8758;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav_list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile_menu {
        display: block;
    }

    #banner_abrelpe {
        display: none;
    }

    #cooperativa {
        display: none;
    }

}

.nav_list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.nav_list a {
    color: #fff;
}

/* ------------------------- Rodapé ----------------------------- */

footer {
    bottom: 0px;
}

.nav_rodape h6 {
    color: #EFE6CD;
    text-align: center;
    letter-spacing: 1px;
    margin-left: 32px;
}

.nav_rodape {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #7D8758;
    height: 8vh;
}

/* ------------------------- Página index ----------------------------- */

.main_banner{
    width: 100%;
}

.conteudo_textual {
    padding: 10px;
    img {
        width: 25%;
        align-items: center;
    }
}

.conteudo_textual h2 {
    margin: 5px;
    font-size: 200%;
    color: #7D8758;
    text-align: center;
}

.conteudo_textual p {
    text-align: justify;
    margin: 20px;
    text-indent: 3ch;
    font-size: 100%;
    color: #7D8758;
}

#conteudo_1{
    display: flex;
    padding: 0px;
    margin: 0px;
    align-items: center;
    #conteudo_1_1{
        display: block;
        margin: 10px;
    }
}

#conteudo_2{
    display: flex;
    padding: 0px;
    margin: 0px;
    align-items: center;
    #conteudo_2_1{
        display: block;
        margin: 10px;
    }
}

.chamada_convite{
    font-size: 100%;
    background-color: #7D8758;
    padding: 15px;
    h1 {
        color: #EFE6CD;
        text-align: center;
    }
}

.conteudo_heroi{
    border-radius: 10px;
    width: 80%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.convite_heroi {
    background-color: #EFE6CD;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #CCC098;
    padding: 20px;
    margin: 30px;
    width: 30%;

    img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    h2{
        text-align: center;
        margin-bottom: 10px;
        color: #7D8758;
    }

    p{
        text-align: justify;
        color: #7D8758;
    }

}

.convite_heroi:hover {
    background-color: #7D8758;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #CCC098;
    padding: 20px;
    margin: 30px;
    width: 30%;
    transition: 0.5s;

    img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    h2{
        text-align: center;
        margin-bottom: 10px;
        color: #EFE6CD;
    }

    p{
        text-align: justify;
        color: #EFE6CD;
    }

}

.chamada_ranking{
    font-size: 100%;
    background-color: #7D8758;
    padding: 15px;
    h1 {
        color: #EFE6CD;
        text-align: center;
    }
}

.conteudo_ranking{
    width: 80%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    img {
        border-radius: 10px;
        box-shadow: 5px 5px 15px #CCC098;
        padding: 20px;
        margin: 30px;
    }
}


/* ------------------------- Página locais de entrega ----------------------------- */

.mapa iframe {
    border-radius: 10px;
}

#mini_banner img {
    border-radius: 10px;
}

#botoes_mapa {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 8px;
}

#botao_localizacao {
    margin: auto;
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: fit-content;
    font-size: medium;
    background-color: #517360;
    color: white;
    box-shadow: 3px 3px 10px #517360;
}

#pesquisa_endereco {
    display: flex;
    margin: auto;
    padding-left: 8px;
    border-radius: 5px;
    border: none;
    width: fit-content;
    font-size: medium;
    background-color: #517360;
    color: white;
    box-shadow: 3px 3px 10px #517360;
    justify-content: space-evenly;
    align-items: center;
    input {
        padding: 10px;
        margin-left: 10px;
        border: none;
        width: 200px;
        margin-right: 0px;
    }
}

#botao_buscar {
    margin-left: 0px;
    padding: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    width: fit-content;
    font-size: medium;
    background-color: rgb(59, 185, 0);
    color: white;
}

/* ------------------------- Tela cadastro ----------------------------- */

.cadastro{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    h1{
        color: #7D8758;
        align-self: center;
        margin: 20px;
    }
} 

  #form_cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 16px;
    background-color: #EFE6CD;
    box-shadow: 5px 5px 15px #7D8758;
    padding: 1.5rem 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    h1 {
        font-size: 180%;
        margin: 10px;
        color: #7D8758;
    }

    h3 {
        margin-top: 25px;
        margin-bottom: 15x;
        color: #7D8758;
    }

    .dados_pessoais{
        margin-top: 25px;
        margin-bottom: 15px;
        color: #7D8758;
    }

    label {
        color: #7D8758;
        margin-bottom: 10px;
    }

    input {
        padding: 10px;
    }
  }

  hr {
    margin-top: 25px;
    border-top: 5px dotted #7D8758;
  }

.btn_cadastro {
    width: 100px;
    margin: 20px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    background-color: #9EA58D;
    color: #fff;
    align-self: center;
}

.btn_cadastro:hover {
    width: 100px;
    margin: 20px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    background-color: #C5B67B;
    color: #fff;
    align-self: center;
    transition: 0.8s;
}

.main_cadastro_doador{
    background: url(/Projeto_Integrador_Proz/Sprint_4_javascript/img/conteudo_cadastro/background_login4.png);
    background-size: cover;
    background-position: center;
}

.main_cadastro_coletor{
    background: url(/Projeto_Integrador_Proz/Sprint_4_javascript/img/conteudo_cadastro/background_login3.png);
    background-size: cover;
    background-position: center;
}


input{
    padding: .2rem .5rem;
}


/* --- Estilos para Validação de formulários ------ */

/*--------------------Estilos Dinâmicos ------------------------*/

.required-popup::after{
    content: "Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
    
}

input.error{
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
}

input.correct{
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
}


.visible{
    display: block;
    
}

.helper-text{
    /* display: none; */
    font-size: .8rem;
    color:darkred; 
}

label:not(:first-of-type){
    margin-top: 1rem;
}

label{
    margin-bottom: .2rem;
    position: relative;
}

/* ---------------------------------------------------*/

/* ------------------------- Tela login ----------------------------- */

#form_login {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 3px 3px 10px #7D8758;
    padding: 1.5rem 40px;
    margin-top: 250px;
    margin-bottom: 250px;
    margin-left: 200px;
    h1 {
        font-size: 180%;
        margin: 10px;
        color: #7D8758;
    }

    label {
        color: #7D8758;
    }

    input {
        padding: 10px;
        width: 250px;
    }

    div {
        margin: 10px;
    }
  }

#usuario_login input{
    margin-top: 10px;
}

#senha_login input{
    margin-top: 10px;
    margin-bottom: 10px;
}


  #main_login {
    background: url(/Projeto_Integrador_Proz/Sprint_4_javascript/img/conteudo_login/background_login3.png);
    background-size: cover;
    background-position: center;
}

.login{
    display: flex;
    justify-content: left;
}

.btn_login{  
    width: 100px;
    margin: 20px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    background-color: #9EA58D;
    color: #fff;
    align-self: center;
}

.btn_login:hover{  
    width: 100px;
    margin: 20px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    background-color: #C5B67B;
    color: #fff;
    align-self: center;
    transition: 0.8s;
}

#sem_cadastro {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

/* ------------------------- Escolha cadastro ----------------------------- */


.cadastro_escolha {
    width: 100%
}

.conteudo_cadastro_escolha{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.escolha_cadastro {
    background-color: #EFE6CD;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #CCC098;
    padding: 20px;
    margin: 30px;
    width: 30%;

    img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    h2{
        text-align: center;
        margin-bottom: 10px;
        color: #7D8758;
    }

    p{
        text-align: justify;
        color: #7D8758;
    }

}

.escolha_cadastro:hover {
    background-color: #7D8758;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #CCC098;
    padding: 20px;
    margin: 30px;
    width: 30%;
    transition: 0.5s;

    img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    h2{
        text-align: center;
        margin-bottom: 10px;
        color: #EFE6CD;
    }

    p{
        text-align: justify;
        color: #EFE6CD;
    }

}

/* ------------------------- Como descartar? ----------------------------- */

#conteudo_descartar {
    margin: 10px;
    padding: 10px;
    img {
        border-radius: 5px;
        box-shadow: 3px 3px 10px #517360;
        margin-left: 10px;
    }
}

#bloco1_descartar {
    display: flex;
    p {
        text-align: justify;
        margin: 10px;
        text-indent: 3ch;
        font-size: 100%;
    }
    ul {
        margin: 20px;
    }
    li {
        text-align: justify;
        font-size: 100%;
    }
    h2 {
        margin-top: 0px;
        margin: 10px;
        font-size: 140%;
        color: #381E10;
        text-align: center;
    }
}

#bloco2_descartar {
    margin-bottom: 20px;
    h2 {
        margin-top: 0px;
        margin: 10px;
        font-size: 140%;
        color: #381E10;
        text-align: center;
    }

    #paragrafo {
        text-align: justify;
        margin: 10px;
        text-indent: 3ch;
        font-size: 100%;
    }

    p {
        text-align: justify;
        margin: 10px;
        font-size: 100%;
    }

    img {
        padding: auto;
        margin: auto;
        border-radius: 10px;
        width: 100%;
        justify-content: center;
    }
    
    ul {
        margin-left: 20px;
    }
    li {
        text-align: justify;
        font-size: 100%;
    }
}

#bloco3_descartar {
    display: flex;
    p {
        text-align: justify;
        margin: 10px;
        text-indent: 3ch;
        font-size: 100%;
        a {
            color: green;
        }
    }

    h2 {
        margin-top: 0px;
        margin: 10px;
        font-size: 140%;
        color: #381E10;
        text-align: center;
    }

    img {
        margin-top: 20px;
        margin-right: 20px;
    }
}

/* ------------------------- adicionar material reciclavel ----------------------------- */

#carrinho {
    display: flex;
    margin: 30px;
  }
  
/* Nova paleta de cores
.Vintage-Cremes--Greens-1-hex { color: #9EA58D; }
.Vintage-Cremes--Greens-2-hex { color: #CCC098; }
.Vintage-Cremes--Greens-3-hex { color: #EFE6CD; }
.Vintage-Cremes--Greens-4-hex { color: #7D8758; }
.Vintage-Cremes--Greens-5-hex { color: #C5B67B; } */

  .item-carrinho {
    display: flex;
    background-color: #EFE6CD;
    padding: 15px;
    margin: 35px;
    width: 50%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #CCC098;
    input {
        padding: 5px;
        margin-left: 10px;
        border: none;
        width: 200px;
    }
  }
  
  .capa {
    width: 40%;
    img {
        width: 100%;
    }
  }

  .descricao_item {
    width: 60%;
    align-self: center;
    color: #7D8758;
  }

  .quantidade_itens {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #quantidade-produto-01 {
    width: 40px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
  }

  #quantidade-produto-02 {
    width: 40px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  #subtotal {
    text-align: center;
  }

  #subtotal2 {
    text-align: center;
  }

  .btn-produto{
    width: 50px;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    background-color: #7D8758;
    color: #fff;
    align-self: center;
    transition: 0.8s;
  }