@charset "UTF-8";

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
}

.container {
    max-width: 1920px;
    width: 100%;
}

/* header*/
header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

/* navbar*/
nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(to right, #538C51, #517360);
}

nav:after {
    clear: both;
    content: "";
    display: block;
}

.nav_container{
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

.nav_container ul {
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav_container li {
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav_container li a {
    text-decoration: none;
    transition: .5s;
}

.caixa1{
    border: 2px solid black;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 60px;
    padding-left: 40px;

    margin-top: 40px;
    margin-right: 60px;    
    margin-bottom: 40px;
    margin-left: 20px;
}

.caixa2{
    border: 2px solid black;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 60px;
    padding-left: 40px;

    margin-top: 40px;
    margin-right: 60px;    
    margin-bottom: 40px;
    margin-left: 20px;
}

.caixa3{
    border: 2px solid black;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 60px;
    padding-left: 40px;

    margin-top: 40px;
    margin-right: 60px;    
    margin-bottom: 40px;
    margin-left: 20px;
}